<div> 
    <mat-table [dataSource]="dataSource"> 
          <ng-container matColumnDef="id">
               <mat-header-cell *matHeaderCellDef> ID </mat-header-cell> 
                  <mat-cell *matCellDef="let film"> {{film.id}} </mat-cell>
          </ng-container> 
          <ng-container matColumnDef="title"> 
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell> 
                    <mat-cell *matCellDef="let film"> {{film.title}} </mat-cell>
          </ng-container>
           <ng-container matColumnDef="vote_average"> 
              <mat-header-cell *matHeaderCellDef> Average Vote </mat-header-cell> 
                    <mat-cell *matCellDef="let film"> {{film.vote_average}} </mat-cell> 
          </ng-container> 
          <ng-container matColumnDef="release_date"> 
            <mat-header-cell *matHeaderCellDef> Release Date </mat-header-cell> 
              <mat-cell *matCellDef="let film"> {{film.release_date}} </mat-cell> 
          </ng-container> 
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 
    </mat-table> 
  </div> 
